<!DOCTYPE html>
<html lang="en">
    {{> headSection}}
    <body>
        <!-- Navigation Section -->
        {{> navbar}}
        <div class="container_fluid">
            <h3>Hi Guys!, Welcome To Vak Greens</h3>
        </div>
    </body>
</html>